<div class="checkout">
    <banner [title]="'Checkout'"></banner>
    <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
    <div class="container mx-auto mbt5">    
        <div class="row ">   
            <div class="col-12">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <div class="">
                              
                                <div class="d-flex flex-row mt-2">
                                   
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="lorem" role="tabpanel">
                                            <div class="addres">
                                           <h3 class="border-ad">+ Add New Address</h3>
                                           </div>
                                           <h3 class="save-ad">Save Address <br/><small class="small-text">1 Save Address</small></h3>
    
                                           <div class="custom-control custom-radio p0">
                                            <input type="radio" id="defaultRadio" name="example2" class="mr15">
                                            <label class="custom-control-label adsss" for="customRadio">
                                                <h3 class="save-add">75</h3>
                                                <p class="adss">75 <br/>Aenean pharetra risus quis placerat euismod. Praesent mattis lorem eget massa euismod sollicitudin.</p>
                                                <div class="br-top">
                                                <a href=""><button type="button" class="btn btn-light">Edit</button></a>
                                                <a href="" class="flot-right"><button type="button" class="btn btn-light">Delete</button></a>
                                            </div>
                                            </label>
                                          </div>    
                                          <button type="button" class="btn btn-danger mt10" (click)="onClickContinueButton()">Proceed to Shipment</button>
                                        </div>
                                        <div class="tab-pane fade" id="ipsum" role="tabpanel">
                                            <h1>Ipsum</h1>
                                            
                                            <p>Aenean pharetra risus quis placerat euismod. Praesent mattis lorem eget massa euismod sollicitudin. Donec porta nulla ut blandit vehicula. Mauris sagittis lorem nec mauris placerat, et molestie elit vehicula. Donec libero ex, condimentum et mi dapibus, euismod ornare ligula.</p>
                                            
                                            <p>In faucibus tempus ante, et tempor magna luctus id. Ut a maximus ipsum. Duis eu velit nec libero pretium pellentesque. Maecenas auctor hendrerit pulvinar. Donec sed tortor interdum, sodales elit vel, tempor turpis. In tristique vestibulum eros vel congue. Vivamus maximus posuere fringilla. Nullam in est commodo, tristique ligula eu, tincidunt enim. Duis iaculis sodales lectus vitae cursus.</p>
                                        </div>
                                        <div class="tab-pane fade" id="dolor" role="tabpanel">
                                            <h1>Dolor</h1>
                                            
                                            <p>Aenean pharetra risus quis placerat euismod. Praesent mattis lorem eget massa euismod sollicitudin. Donec porta nulla ut blandit vehicula. Mauris sagittis lorem nec mauris placerat, et molestie elit vehicula. Donec libero ex, condimentum et mi dapibus, euismod ornare ligula.</p>
                                            
                                            <p>In faucibus tempus ante, et tempor magna luctus id. Ut a maximus ipsum. Duis eu velit nec libero pretium pellentesque. Maecenas auctor hendrerit pulvinar. Donec sed tortor interdum, sodales elit vel, tempor turpis. In tristique vestibulum eros vel congue. Vivamus maximus posuere fringilla. Nullam in est commodo, tristique ligula eu, tincidunt enim. Duis iaculis sodales lectus vitae cursus.</p>
                                        </div>
                                       
                                    </div>
                                    <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left tabs-left" role="navigation">
                                        <li class="nav-item">
                                            <a href="#lorem" class="nav-link active" data-toggle="tab" role="tab" aria-controls="lorem">Choose Address <br/><small class="small-text">You have 1 save Address</small></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#ipsum" class="nav-link" data-toggle="tab" role="tab" aria-controls="ipsum">Delivery Summery <br/><small class="small-text">-</small></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#dolor" class="nav-link " data-toggle="tab" role="tab" aria-controls="dolor">Payment Method <br/><small class="small-text">-</small></a>
                                        </li>
                                        
                                    </ul>
                                </div>
                                
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- -------------------------------------------------------------------------------------------------- -->


<div class="container mx-auto mbt5">
    
    <div class="accept">
        <img src="assets\images\accept.png" alt="accept" class="m10">
        <h3>One step closer to an epic meatup!</h3>
    </div>
   
  <div class="row jumbotron">
    <div class="col-md-8 m10">
        <h5>2 items will be delivered Today ( 9 Oct)</h5>
        <small class="small-text">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit</small>
    </div>
    <div class="col-md-4 text-right m10">
        <button type="button" class="btn btn-danger">Cancel order</button>
    </div>
    <div class="col-md-12 top-border">
        <small class="small-text">mollit anim id est laborum consectetur adipiscing elit</small>
    </div>
  </div>
  
  <div class="row ">
  
  <div class="col-12">
    <div class="card card0 border-0">
        <div class="row">
            <div class="col-12">
                <div class="card card00 m-2 border-0">
                    <div class="row text-center justify-content-center px-3">
                        <!-- <p class="prev text-danger"><span class="fa fa-long-arrow-left"> Go Back</span></p id="back"> -->
                        <h3 class="mt-4"></h3>
                    </div>
                    <div class="d-flex flex-md-row px-3 mt-4 flex-column-reverse">
                        <div class="col-md-6">
                            <div class="card1">
                                <ul id="progressbar" class="text-center">
                                    <li class="active step0"></li>
                                    <li class="step0"></li>
                                    <li class="step0"></li>
                                    <li class="step0"></li>
                                </ul>
                                <h6 class="m20">Your order is successful placed <br><small class="small-text">Shipment ID kg290dy8 will reach you in 120 mins</small></h6>
                                <h6 class="m37">Set password</h6>
                                <h6 class="m37">Select your country</h6>
                                <h6 class="m37">Select your country</h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media  p-3">
                                <img src="assets\images\egg.png" alt="eggg" class="mr-3  rounded-circle" style="width:60px;">
                                <div class="media-body">
                                  <h6>Classic Eggs</h6>
                                  <span>6 Pieces |</span>
                                  <span>
                                    <small class="og-price"><i class="fa fa-inr" aria-hidden="true"></i>49 </small>
                                    <small class="offer-price"><i class="fa fa-inr" aria-hidden="true"></i>44   </small>
                                </span>
                                  <span>| Qty : 2</span>
                                </div>
                              </div>
                            <table class="table table-borderless">
                                <thead>
                                  <tr>
                                    <th>  Bill Detail </th>
                                    <th><button type="button" class="btn btn-outline-primary btn-sm">Paid Online</button></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Subtotal</td>
                                    <td>88.2</td>
                                   
                                  </tr>
                                  <tr>
                                    <td>Delivery Charge</td>
                                    <td>39</td>
                                    
                                  </tr>
                                 
  
                                  <tr>
                                    <td>Contactless Service Change</td>
                                    <td>10</td>
                                  
                                  </tr>
  
                                  <tr>
                                    <td>Discount</td>
                                    <td>0</td>
                                  
                                  </tr>
  
                                  <tr>
                                    <td>Licious Wallet</td>
                                    <td>0</td>
                                  
                                  </tr>
                                  <tr class="table-success">
                                    <td><b>Total Amount Paid</b></td>
                                    <td><i class="fa fa-inr" aria-hidden="true"></i> 137.2</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
  </div>
  </div>
  </div>


  <!-- -------------------------------------------------------------------------------------------------- -->



 
    <div class="container mx-auto mbt5">    
                    <div class="row">
                        <div class="col-12">
                                <div class="d-flex flex-row mt-2">
                                   
                                    <div class="row w100 boxs">
                                        <div class="col-6">
                                            
                                            <small class="small-text">Two items Deliver</small>
                                        <form action="">
                                            <form>
                                                <select name="cars" class="custom-select">
                                                  <option selected>Today 120 mins</option>
                                                  <option value="volvo">Volvo</option>
                                                  <option value="fiat">Fiat</option>
                                                  <option value="audi">Audi</option>
                                                </select>
                                              </form>
                                          </form>
                                        </div>
                                        
                                    </div>
                                    <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left tabs-left" role="navigation">
                                        <li class="nav-item">
                                            <a href="#lorem" class="nav-link active" data-toggle="tab" role="tab" aria-controls="lorem">Choose Address <br/><small class="small-text">You have 1 save Address</small></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#ipsum" class="nav-link" data-toggle="tab" role="tab" aria-controls="ipsum">Delivery Summery <br/><small class="small-text">-</small></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#dolor" class="nav-link " data-toggle="tab" role="tab" aria-controls="dolor">Payment Method <br/><small class="small-text">-</small></a>
                                        </li>
                                        
                                    </ul>
                                </div>
                                
                        </div>
                  
        </div>
    </div>



<!-- -------------------------------------------------------------------------------------------------- -->




<div class="container mx-auto mbt5">    
    <div class="row">
        <div class="col-12">
                <div class="d-flex flex-row mt-2">
                   
                    <div class="row w100 boxs">
                        <div class="col-12">

                            <small class="small-text">Enter Location</small>
                        
                        </div>
                       
                    </div>
                    <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left tabs-left" role="navigation">
                        <li class="nav-item">
                            <a href="#lorem" class="nav-link active" data-toggle="tab" role="tab" aria-controls="lorem">Choose Address <br/><small class="small-text">You have 1 save Address</small></a>
                        </li>
                        <li class="nav-item">
                            <a href="#ipsum" class="nav-link" data-toggle="tab" role="tab" aria-controls="ipsum">Delivery Summery <br/><small class="small-text">-</small></a>
                        </li>
                        <li class="nav-item">
                            <a href="#dolor" class="nav-link " data-toggle="tab" role="tab" aria-controls="dolor">Payment Method <br/><small class="small-text">-</small></a>
                        </li>
                        
                    </ul>
                </div>
                
        </div>
  
</div>
</div>



<!-- -------------------------------------------------------------------------------------------------- -->

